page-register {
    .background {
        background: url('../assets/imgs/bgRegister.jpg');
        background-size: contain;
    }

    .h-or {
        margin: 2.5% auto;
        background: #{map-get($map: $bgcolors, $key: primary)};
        border-radius: 50%;
        width: 60px;
        height: 60px;
        border: 1px solid lightgrey;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        .text {
            font-weight: bold;
        }
    }

    .btn-fb, .btn-twitter {
        ion-icon {
            font-size: 25px;
        }
    }
}
