<!-- Generated template for the LocationComponent component -->
<ion-grid class="full-w full-h location-grid">
    <ion-row class="full-w">
        <ion-col col-12 col-md-6>
            <form>
                <div class="input">
                    <ion-icon name="pin"></ion-icon>
                    <input type="text" name="location" id="location" placeholder="ENTER YOUR LOCATION" />
                </div>
                <button type="submit" class="btn-dark full-w">
                    select location
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
            </form>
        </ion-col>
    </ion-row>
    <div class="close-btn">
        <button (click)="dismiss()"><ion-icon name="close"></ion-icon></button>
    </div>
</ion-grid>