location {
    background: url('../assets/imgs/bgOne.jpg') no-repeat;
    background-size: cover;
    position: relative;
    .input {
        ion-icon {
            font-size: 25px;
        }
        input {
            width: 80%;
        }
    }
    .location-grid {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    button[type="submit"] {
        margin-top: 10px;
        position: relative;
        ion-icon {
            position: absolute;
            right: 10px;
        }
    }
}