location {
    background-color: #{map-get($map: $textcolors, $key: light)};
    background-size: cover;
    position: relative;
    .input {
        ion-icon {
            font-size: 15px;
        }
        input {
            width: 80%;
        }
    }
    .location-grid {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    button[type="submit"] {
        margin-top: 10px;
        position: relative;
        ion-icon {
            position: absolute;
            right: 10px;
        }
    }
    button[name="curr-location"] {
        margin-top: 10px;
    }

    .invalid-alert{
        * {
            .alert-header {
                text-align: center !important;
            }
        }
    }
}