<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
    <ion-grid>
        <ion-row justify-content-center class="cart-toolbar">
            <ion-col col-4>
                <h4 class="title">cart</h4>
            </ion-col>
            <div class="back-btn"><button class="no-style" (click)="popView()"><ion-icon name="arrow-back"></ion-icon></button></div>
        </ion-row>
    </ion-grid>

    <ion-grid class="cart-table" *ngIf="displayCart">
        <ion-row class="title-row" justify-content-around>
            <ion-col col-4 class="col-item">
                <h6>item</h6>
            </ion-col>
            <ion-col col-2>
                <h6>qty</h6>
            </ion-col>
            <ion-col col-2>
                <h6>price</h6>
            </ion-col>
        </ion-row>
        <ion-row class="table-content" justify-content-around *ngFor="let item of data">
            <ion-col col-4 class="col-item">
                <h6>{{item.item}}</h6>
                <button class="remove" (click)="removeFromCart(item)">remove</button>
            </ion-col>
            <ion-col col-2>
                <h6>{{item.qty}}</h6>
            </ion-col>
            <ion-col col-2>
                <h6>{{item.price}}</h6>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button class="btn-dark full-w" (click)="goToPayment()">proceed to payment</button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="displayEmptyCartMessage">
        <ion-row class="full-w full-h" align-items-center>
            <ion-col class="text-center">
                <span class="empty-cart-msg">No items in your Cart!</span>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>