<ion-header>
  <nav-bar [title]="title" [hamburger]="on" [locationOn]="on" [location]="location" [showTitle]="off"></nav-bar>
</ion-header>

<ion-content (click)="dismissModal()">
  <ion-grid class="p-0">
    <div *ngFor="let r of restaurants">
      <button class="no-style mt-1" (click)="openRestaurant(r.id, r.name)">
        <ion-row class="customCard" align-items-center>
          <div class="discount-badge" *ngIf="r.discount">
            {{r.discount_percent}}%
          </div>
          <ion-col col-5>
            <div class="thumbnail">
              <img src={{r.thumbnail}}>
            </div>
          </ion-col>
          <ion-col offset-md-1>
            <div>
              <h6>{{r.name}}</h6>
            </div>
            <div>
              <h6>
                <span class="font-75">Starts from
                  <span class="price">Rs. 999</span>
                </span>
              </h6>
            </div>
            <div class="pin">
              <ion-icon name="pin"></ion-icon>
              Connaught Place
            </div>
          </ion-col>
        </ion-row>
      </button>
    </div>
  </ion-grid>

</ion-content>
