page-order-detail {
    .invoice-row {
        ion-col:not(:first-child) {
            text-align: right;
        }
        ion-col {
            text-transform: uppercase;
            font-weight: bolder;
        }
        &:nth-last-child(2) {
            @extend .border-btm;
        }
    }
    .border-btm {
        border-bottom: 1px solid #{map-get($map: $bgcolors, $key: light)};
        margin-bottom: 5px;
    }
    .content-title {
        text-transform: uppercase;
        text-align: center;
    }

    .status-wrapper {
        width: 100%;
        position: relative;
        .line {
            border-top: 1px solid #{map-get($map: $bgcolors, $key: dark)};
            position: absolute;
            top: 12.5px;
            width: 100%;
            z-index: -1;
        }
        .checkpoint-wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .checkpoint-circ {
                background: #fff;
                border: 1px solid green;
                width: 25px;
                height: 25px;
                border-radius: 25px;
                position: relative;
                &::after {
                    position: absolute;
                    display: block;
                    content: 'something';
                    font-size: 7px;
                    top: 35px;
                    left: -15px;
                    text-transform: uppercase;
                    font-weight: bolder;
                    letter-spacing: 1px;
                }
            }
        }
    }

}
