<!-- Generated template for the AddToCartComponent component -->
<section class="sect-top"></section>
<section class="info">
  <div><h3>contents</h3></div>
  <div>
    <ul>
      <li><span>Olive</span></li>
      <li><span>Tomamtoes</span></li>
      <li><span>Mustard Sauce</span></li>
      <li><span>Chicken</span></li>  
    </ul>
  </div>
  <div><h3>Variants</h3></div>
  <div>
    <button full ion-button icon-end>
      <div>Variant 1</div>
      <div>
        <span>Rs. 1000</span>
        <ion-icon name="md-checkmark-circle-outline"></ion-icon>
      </div>
    </button>
  </div>
</section>
<section class="sect-btm">
  <div>
    <form>
      <button style="text-align:right"><ion-icon name="add"></ion-icon></button>
      <span>1</span>
      <button style="text-align:left"><ion-icon name="remove"></ion-icon></button>
    </form>
        <button class="atc" (click)="dismiss()">
          Add to cart
        </button>
  </div>
</section>

<div class="close-btn">
  <button (click)="dismiss()">
    <ion-icon name="close"></ion-icon>
  </button>
</div>