page-complete-profile {
    .swiper-pagination-bullets {
        display: none;
    }

    ion-icon[name="contact"] {
        font-size: 200px;
    }

    .input {
        text-align: left;
    }

    .btn-dark {
        margin: 5px 0;
    }
}
